In [1]:
#import Libraries
import pandas as pd

In [2]:
#read csv
ali_friday = pd.read_csv("train_blackFriday.csv")

In [3]:
#number of rows and coulmns
ali_friday.shape

(550068, 12)

In [4]:
#show data types found
ali_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [5]:
#show coulmns
ali_friday.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [6]:
#Checking NaN values in the given dataset
ali_friday.isna()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,False,False,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,True,False
3,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,False,False,False,False,False,False,False,False,False,True,True,False
550064,False,False,False,False,False,False,False,False,False,True,True,False
550065,False,False,False,False,False,False,False,False,False,True,True,False
550066,False,False,False,False,False,False,False,False,False,True,True,False
550067,False,False,False,False,False,False,False,False,False,True,True,False

In [8]:
#Checking duplicate values in the dataset
ali_friday.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
550063    False
550064    False
550065    False
550066    False
550067    False
Length: 550068, dtype: bool

In [9]:
#Renaming the column name to lower case
ali_friday.rename(columns={col: col.lower() for col in ali_friday.columns}, inplace=True)

In [11]:
#Removing Reducant Values (user id)
ali_friday.drop_duplicates(subset='user_id', inplace=True)

In [12]:
#Checking for unique values in each individual column of the dataset
ali_friday.nunique()

user_id                       5891
product_id                    1611
gender                           2
age                              7
occupation                      21
city_category                    3
stay_in_current_city_years       5
marital_status                   2
product_category_1              18
product_category_2              17
product_category_3              15
purchase                      4133
dtype: int64

In [11]:
#replace each range in age coulmn to its creosspond category ex:0-17 ->child ,18-25 ->teenage, 26-50 -> adult , 51-55+ ->old

In [16]:
age = [0, 17, 25, 50, float('inf')]
labels = ['child', 'teenage', 'adult', 'old']

ali_friday['Age'] = ali_friday.cut(ali_friday['Age'], age = age, labels = labels, inplace = True)

In [17]:
#Checking for unique values for city_years column
ali_friday['stay_in_current_city_years'].nunique()

5

In [29]:

#remove + from rows in city_years column
ali_friday = ali_friday['stay_in_current_city_years'].apply(lambda x: x.replace('+', ''))

KeyError: 'stay_in_current_city_years'

In [22]:
#Checking for unique values for category_1 column
ali_friday['product_category_1'].nunique()

18

In [30]:
#Checking for unique values for category_2 column
ali_friday['product_category_2'].nunique()

In [26]:
#fill null you found
ali_friday.fillna(0)

0         2
4         4
5         3
6         2
9         1
         ..
185450    0
187076    2
221494    3
229480    0
243533    4
Name: stay_in_current_city_years, Length: 5891, dtype: object

In [33]:
#Checking for unique values for category_3 column
ali_friday['product_category_3'].nunique()

KeyError: 'product_category_3'

In [38]:
#fill null you found
ali_friday['product_category_3'].fillna(0)

In [35]:
#check for null values
ali_friday.isna()

0         False
4         False
5         False
6         False
9         False
          ...
185450    False
187076    False
221494    False
229480    False
243533    False
Name: stay_in_current_city_years, Length: 5891, dtype: bool

In [34]:
#check for duplicates values
ali_friday.duplicated()

0         False
4         False
5         False
6          True
9         False
          ...
185450     True
187076     True
221494     True
229480     True
243533     True
Name: stay_in_current_city_years, Length: 5891, dtype: bool